<div class="columns">
  <div class="column col-4 col-sm-12 published-metadata">
    <p>{% include 'partials/blog/date.html.twig' %}</p>

    <p>{% include 'partials/blog/taxonomy.html.twig' with {'taxon': 'instatag', 'base_url': '/insta'} %}</p>

    <div>
      {{ page.content }}
    </div>
  </div>

  <div class="column col-8 col-sm-12">
    {% include 'partials/insta/insta-image.html.twig' with {'image': page.media.images|first  } %}
    {% if page.media.images|slice(1)|length() == 1 %}
      {% include 'partials/insta/insta-image.html.twig' with {'image': page.media.images|slice(1,1)|first  } %}
    {% endif %}
    {% if page.media.images|slice(1)|length() is divisibleby(3) %}
      <div class="columns">
        {% for im in page.media.images|slice(1) %}
          <div class="column col-4">
            {% set image = page.media.images|slice(loop.index,1)|first %}
            {% include 'partials/insta/insta-image.html.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if page.media.images|slice(1)|length() is divisibleby(2) %}
      <div class="columns">
        {% for im in page.media.images|slice(1) %}
          <div class="column col-6">
            {% set image = page.media.images|slice(loop.index,1)|first %}
            {% include 'partials/insta/insta-image.html.twig' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="column col-8 col-ml-auto">
    {% include 'partials/insta/insta-coordinates.html.twig' %}
  </div>
</div>