header {
  background-color: $bg-color;
  z-index: 1000;

  #site_title {
  	text-decoration: none;
    background-size: 0;
    margin: auto 0;
    padding: 0.4rem 0;
    font-family: $title-font-family;
    font-size: 2.5rem;
    text-shadow: 1px 1px 0px $dark-color;
		color: $light-color;
    @extend .default-animation;

    display: flex;
    align-items: self-end;
    // justify-content: center;
    align-content: space-around;

    svg {
      max-width: 4rem;
      max-height: 4rem;
      
      path:nth-of-type(2) {
        stroke: $dark-color;
        stroke-width: 1.3px;
        fill: $light-color;
        @extend .default-animation;
      }
      path:nth-of-type(3) {
        // stroke: $primary-color;
        stroke: $dark-color;
        stroke-width: 1.3px;
        fill: $light-color;
        @extend .default-animation;
      }
    }
    
    @media (max-width: $size-sm) {
      align-items: center;
      white-space: nowrap;
      font-size: 2rem;
      svg {
        max-width: 3rem;
        max-height: 3rem;
      }
    }
    @media (max-width: $size-xs) {
      svg {
        display: none;
      }
    }

    &:hover,
    &:focus {
      color: rebeccapurple;

      svg {
        path:nth-of-type(2) {
          fill: $dark-color;
        }
        path:nth-of-type(3) {
          fill: $primary-color;
        }
      }
    }
	}
}