{% extends 'partials/base.html.twig' %}

{% set taxonpage = "" %}
{% for conftaxon in config.site.taxonomies %}
    {% if uri.param(conftaxon) %}
        {% set taxonpage = conftaxon %}
    {% endif %}
{% endfor %}
{% if taxonpage is not empty %}
    {% set activetaxon = uri.param(taxonpage) %}
{% endif %}

{% block title %}{% if activetaxon %}{{ activetaxon }} | {% endif %}{{ parent()  }}{% endblock %}

{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set collection = page.collection() %}


{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">
            {% if activetaxon %}
                {% include 'partials/page-name.html.twig' %}
            {% endif %}
            <div class="columns">
                <div class="column col-12">
                    {% for child in collection %}
                        {% include 'partials/blog-list-item.html.twig' with {blog: page, page: child} %}
                    {% endfor %}
                </div>
            </div>
                            
            {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                <div id="listing-footer">
                    {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                </div>
            {% endif %}

        </section>
    </section>
{% endblock %}



