{% extends 'partials/base.html.twig' %}

{# ADDING LEAFLET  #}
{% do assets.addCss('https://unpkg.com/leaflet@1.6.0/dist/leaflet.css') %}
{% do assets.addJs('https://unpkg.com/leaflet@1.6.0/dist/leaflet.js') %}
{# LEAFLET FULLSCREEN PLUGIN #}
{% do assets.addCss('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css') %}
{% do assets.addJs('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js') %}

{% if uri.param('instatag') %}
    {% set activetaxon = uri.param('instatag') %}
{% endif %}

{% block title %}{% if activetaxon %}Insta#{{ activetaxon }} | {% endif %}{{ parent()  }}{% endblock %}

{% set blog_image = page.media.images[page.header.hero_image] ?: page.media.images|first %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set collection = page.collection() %}


{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">

            {% if activetaxon %}
                {% include 'partials/page-name.html.twig' %}
            {% endif %}
           
                   
                {% for child in collection %}
                    {% include 'partials/insta/insta-list-item.html.twig' with {blog: page, page: child} %}
                {% endfor %}

                
                {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                    <div id="listing-footer">
                        {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                    </div>
                {% endif %}

        </section>
    </section>

    

{% endblock %}



